/* Layout */
body {
	background-color: #99ccff;
}
.content {
    width: 800px;
    margin: 50px auto;
}

.floatright {
	float: right;
}

.center {
    margin: auto;
    width: 30%;
}

.sourcesArea {
}

/* Typography */
h1, h2, h3, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.4em;

}

p, label, div, li {
	line-height: 1.4em;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333333;
}

h1 {
	text-align: center;
}

h1, h2, h3{
	color: white;
	opacity: 0.85;
}



/* Buttons */
button {
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
    color: white;	
}

.buttongroup {
	padding:20px 0;
	clear:left;
}

.primarybutton {
	background-color: #037f03;
	opacity: 0.85;
	border: 3px solid #037f03;
}

.primarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.secondarybutton {
    background-color: #6699cc;
    opacity: 0.85;
	border: 3px solid #6699cc;    
}

.secondarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.tertiarybutton {
	background-color: #336799;
	opacity: 0.85;
	border: 3px solid #336799;	
}

.tertiarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.marginright {
    margin-right: 10px;
}

.dollarSign {
	font-size:16px;
}

/* fields */

input#middleInitial {
    width: 50px;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border-style: none;
    color: black;
    padding: 5px 10px;
   	border-bottom: 3px solid #333333;
}

input[type="text"]:hover, input[type="number"]:hover {
	border-bottom: 3px solid #037f03;
}

input[type="text"]:focus, input[type="number"]:focus {
	border-bottom: 3px solid #037f03;
}

textarea, input {
	outline: none;
}

/* Address fields */
.addressfield {
    float: left;
    margin: 10px 0;
}

.addressfield input[type="text"] {
	width:100%;
}

.streetaddressfield {
    width: 100%;
    clear:both;
}

.aptfield, .cityfield, .statefield, .emailfield, .firstnamefield, .middleinitialfield {
	margin-right: 1%;
}

.aptfield {
    width: 10%;
}

.cityfield {
    width: 45%;
}

.statefield {
    width: 20%;
}

.zipcodefield {
    width: 22%;
}

.emailfield {
    width: 50%;
}

.phonenumberfield {
    width: 49%;
}

.firstnamefield {
    clear: left;
    width: 46%;
}

.middleinitialfield {
    width: 6%;
}

.lastnamefield {
    width: 46%;
}

.initialsfield {
    clear: left;
}

.initialfield {
    float: left;
    width: 22%;
}

/* checkboxes */
.studenticon, .fostericon, .checkboxOption {
	display:inline-block;
}

.checkboxOption {
    margin: 15px 20px 15px 0;
}

.sourcesArea, .nameArea {
    margin: auto;
    width: 60%;
}

/* Source dropdown */
.sourceDropdown select {
   background: transparent;
   width: 190px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   position:relative;
   border-bottom: 3px solid #333333;
   }

.sourceDropdown:after {
    overflow: hidden;
    content: "\F078";
    font-family: FontAwesome;
    position: relative;
    left: 35%;
    bottom: 25px;
}
