/* Layout */
body {
	background-color: #99ccff;
}
.content {
    width: 800px;
    margin: 50px auto;
}

.floatright {
	float: right;
}

.center {
    margin: auto;
    width: 48%;
    margin-top: 50px;
}

/* Intro Page */
.landingPage {
    background: url(../../icons/intro-background.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  overflow: hidden;
  }

h1.subtitle {
    font-size: 25px;
    margin: 10px;
}

h1.title {
    font-size: 40px;
    margin: 15px;
}

.languageOptions .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 0px;
    margin-right: 15px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    text-transform:uppercase;
    color: #336799;
}

.languageOptions p {
  text-align:center;
}

.languageOptions .radio label:before {
    border: none;
    background-color: transparent;
}

.languageOptions .radio label:hover, .languageOptions .radio input[type="radio"]:checked + label {
    color: white;
    border-bottom: 3px solid white;
}

.languageOptions input[type=radio]:checked + label:before {
    content:"";
    color: transparent;    
}

.languageOptions .buttongroup {
    text-align: center;
}

button.primarybutton.enterButton {
    font-size: 18px;
}

/* Typography */
h1, h2, h3, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.4em;

}

p, label, div, li {
	line-height: 1.4em;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333333;
}

h1 {
	text-align: center;
}

h1, h2, h3{
	color: white;
	opacity: 0.85;
}



/* Buttons */
button {
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
    color: white;	
}

.buttongroup {
	padding:20px 0;
	clear:both;
}

.addPersonButton {
  float:right;
  clear:both;
}

.primarybutton {
	background-color: #037f03;
	opacity: 0.85;
	border: 3px solid #037f03;
}

.primarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.secondarybutton {
    background-color: #6699cc;
    opacity: 0.85;
	border: 3px solid #6699cc;    
}

.secondarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.tertiarybutton {
	background-color: #336799;
	opacity: 0.85;
	border: 3px solid #336799;	
}

.tertiarybutton:hover {
	opacity: 1.0;
	border: 3px solid white;
}

.marginright {
    margin-right: 10px;
}

.dollarSign {
	font-size:16px;
}

.secondarybutton {
    float: left;
    clear: left;
}

/* Government Program fields */
.casenumberfield {
    clear: left;
    width: 20%;
    margin-top: 15px;
}

/* Child Income fields */
.step-5 .notification {
    margin: 15px 0;
}

img.student, img.foster, img.migrant, img.homeless, img.runaway {
    width: 50px;
    margin-bottom: 10px;
    clear: both;
    white-space: nowrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Income Info fields */

input#middleInitial {
    width: 50px;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border-style: none;
    color: black;
    padding: 5px 10px 5px 0px;
   	border-bottom: 3px solid #333333;
}

input[type="text"]:hover, input[type="number"]:hover {
	border-bottom: 3px solid #037f03;
}

input[type="text"]:focus, input[type="number"]:focus {
	border-bottom: 3px solid #037f03;
}

textarea, input {
	outline: none;
}

input::-webkit-input-placeholder {
    color: 333333;
    opacity: 0.25;
}


.amountField, .sourceDropdown, .plusSourceLink, .minusSourceLink {
    float: left;
}

.amountField, .sourceDropdown {
    width: 38.5%;
}

select#incomeSource, .amountField input[type="number"] {
    width: 100%;
}

.plusSourceLink, .minusSourceLink {
    width: 10%;
}

.minusSourceLink, .sourceDropdown, .amountField {
  margin-right: 1%;
}

.sourceDropdown, .amountField {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plusSourceLink, .minusSourceLink {
    margin-top: 19px;
    margin-bottom: 10px;
}

.sourcesArea i.fa.fa-minus-circle, .sourcesArea i.fa.fa-plus-circle {
    font-size:25px;
}

.sourcesArea i.fa.fa-minus-circle {
    float: right;
}

.sourceResults {
    margin-left: 87px;
}

.adultResults {
    margin: 25px 0;
}

.adultName {
    font-size: 16px;
}



/* Name Fields */
.namefield {
  float:left;
  margin: 10px 0;
}

.namefield input[type="text"] {
  width:100%;
}

.incomefirstnamefield, .incomelastnamefield {
  width:49.5%;
}

.incomefirstnamefield {
  margin-right: 1%;
}

/* Child Info Fields */
.childfield {
  float:left;
  margin: 10px 0;
}

.childfield input[type="text"] {
  width:100%;
}

.firstnamefield {
  width:46%;
}

.middleinitialfield {
  width: 6%;
}

.lastnamefield {
  width: 46%;
}

/* Address fields */
.addressfield {
    float: left;
    margin: 10px 0;
}

.addressfield input[type="text"] {
	width:100%;
}

.streetaddressfield {
    width: 100%;
    clear:both;
}

.aptfield, .cityfield, .statefield, .emailfield, .firstnamefield, .middleinitialfield {
	margin-right: 1%;
}

.aptfield {
    width: 10%;
}

.cityfield {
    width: 45%;
}

.statefield {
    width: 20%;
}

.zipcodefield {
    width: 22%;
}

.emailfield {
    width: 50%;
}

.phonenumberfield {
    width: 49%;
}

.firstnamefield {
    clear: left;
    width: 46%;
}

.middleinitialfield {
    width: 6%;
}

.lastnamefield {
    width: 46%;
}

.initialsfield {
    clear: left;
}

.initialfield {
    float: left;
    width: 22%;
}

/* checkboxes */
.studenticon, .fostericon, .checkboxOption {
	display:inline-block;
}

.checkboxOption {
    margin: 15px 20px 15px 0;
}


/* Source dropdown */
.sourceDropdown select {
   background: transparent;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   position:relative;
   border-bottom: 3px solid #333333;
   }

.sourceDropdown:after {
}

/* Images and Icons */
.appleIcon {
  width: 25px;
  height:auto;
  display: inline;
  vertical-align: middle;
  margin-right: 5px; 
  float:left; 
}

/* Notifications */
.notification p {
    display: inline;
    line-height: 1.4em;
    font-weight: 400;
    color: #996533;
}

/* Checkboxes and Radio Buttons */
input[type=radio], input[type=checkbox] {
    display: none;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}


.checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border: 1px solid #DBDBDB;
    background-color: white;
    border-radius: 5px;
}

input[type=checkbox]:checked + label:before {
    content: "\F00C";
    font-family: FontAwesome;
    color: #333333;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
}

.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}


.radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border: 1px solid #DBDBDB;
    background-color: white;
    border-radius: 50px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #333333;
    font-size: 40px;
    text-align: center;
    line-height: 15px;
}

.radio {
    display: inline-block;
}

.childType {
    margin-bottom: 15px;
}

/* Links */
a {
    color: #336799;
}

a:hover {
    color: white;
}

/* Final Page */
.reviewButton {
  text-align:center;
}

.confNumber {
  font-size: 20px;
}